.button {
    width: 132px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.disabled {
    opacity: .5;
}

.secondary {
}

.default {
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    opacity: .5;
}
